body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    background-size: cover;
}

#wrapper {
    margin: 0 auto;
    width: 1100px;
}

#in_wrapper1 {
    box-shadow: 12px 17px 13px #3B6AA0;
}

#headd {
    height: 100px;
}

#headerleft {
    float: left;
    height: 100px;
    width: 550px;
    background: #0D4F8B;
    color: white;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 26px;
    vertical-align: central;
}

#headerleft .h1 {
    display: inline;
    float: left;
}

#headerright {
    float: left;
    height: 100px;
    width: 550px;
    background: #0D4F8B;
}

#psgtechlogo {
    margin-top: 15px;
    margin-left: 20px;
    height: 68px;
    width: 79px;
}

#navigation {
    float: left;
    height: 40px;
    width: 1080px;
    background: #1874CD;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border: solid #0D4F8B 10px;
    border-bottom: solid #0D4F8B 10px;

}

#marquee_head {
    padding: 5px;
    height: 40px;
    vertical-align: middle;
}

#templatemo_menu_wrapper {
    float: left;
    width: 250px;
    height: 350px;
    background: #0D4F8B;
    overflow: hidden;
    display: block;
}
#center {
    float: left;
    height: 100px;
    width: 550px;
    background: #0D4F8B;
    color: white;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 26px;
    vertical-align: central;
}

#templatemo_menu {
    padding: 28px 20px;
    background: #003F87;
    overflow: hidden;
    display: block;
}

#content {
    float: left;
    background: #0D4F8B;
    width: 850px;
    height: 350px;
}

#wowslider-container1 {
    width: 653px;
    height: 350px;
    float: left;
}

.txtmar {
    margin-top: 5px;
    padding: 3px;
    border-radius: 4px;
}

.txtmar:hover {
    box-shadow: 1px 1px 10px #0EBFE9;
}

.txtmar:focus {
    box-shadow: 1px 1px 10px #FFCC11;
}

#footer {
    height: 40px;
    width: 1100px;
    background: #0D4F8B;
    clear: both;
    color: white;
}

.footer {
    height: 60px;
    width: 1100px;
    background: #0D4F8B;
    clear: both;
    color: white;
    text-align: center;
}

#wrapper {
    margin: 0 auto;
    width: 1100px;
}

#quickLinksContainer {
    position: relative; 
    
}

#quickLinksMenu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    right: 0; 
    top: -40px; 
    min-width: 50px;
    height: auto;
    display: none; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    overflow: scroll;
}

#quickLinksMenu a {
    display: block; 
    padding: 5px; 
    

    font-size: 16.5pt;
    color: inherit;
    text-align: center;
    min-width: 100%; 
    box-sizing: border-box; 
    background-color: linear-gradient(45deg, #ffffff, #e00000); 
    border-radius: 5px; 
    
}

#quickLinksMenu a:hover {
    color: #ff6262;
    transform: scale(1.20); 
    transition:  0.4s ease-in-out; 
    
}

#feedback-form input[name="submit"]:hover {
    transform: scale(1.06); 
}

.float-right {
    float: right;
}

.mt-3 {
    margin-top: 1rem;
}

.mr-3 {
    margin-right: 1rem;
}


  